
@{
    ViewData["Title"] = "ShowBot";
}

<div id="bot">
    <iframe src='https://webchat.botframework.com/embed/alemorbot?s=xd2Ed-6GJtA.FLTvl6Rd0-ieh6j6ujemP4tHYX23H7mbUacKqf9rWvw' style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</div>